// Themes
$colors: (
    "primary": yellow,
    "secondary": blue,
    "error": #ff6060,
    "success": green,
    "black": black,
    "white": white,
    "border": #c3a97a,
);

@function color($name) {
    @return map-get($colors, $name);
}

// Core variables
$gap: 16px;
$container: 1200px;
$form-element-height: 50px;

// Media queries
$breakpoints: (
    "xxs": 420px,
    "xs": 568px,
    "sm": 768px,
    "md": 992px,
    "lg": 1200px,
    "xl": 1400px,
    "xxl": 1600px,
);

@mixin mq($width, $type: max) {
    @if map-has-key($breakpoints, $width) {
        $width: map-get($breakpoints, $width);

        @if ($type == max) {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Mixins
@mixin font-button($size: 14px) {
    font-weight: 600;
    font-size: $size;
    font-family: serif;
    line-height: 1;
}

@mixin hover() {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin placeholder() {
    &::placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }
}

@mixin truncate($truncate-width, $wrap: true) {
    max-width: $truncate-width;
    text-overflow: ellipsis;
    overflow: hidden;

    @if ($wrap == true) {
        white-space: nowrap;
    }
}

@mixin scrollbars($size, $foreground-color, $background-color: rgba(mix($foreground-color, white, 30%), 0.8)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin header {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header;
    border-bottom: 2px solid color("border");
    border-radius: 15px 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to top, #587a75 0%, #0a5249 15%, #031b18 90%, #2d3f3c 100%);

    &-title {
        margin-right: auto;
        padding-left: $gap;
        font-weight: 700;
        font-size: 21px;
        line-height: 1;
        text-align: left;
    }

    &-actions {
        height: 100%;
    }

    &-action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 100%;
        font-size: 36px;
    }
}
