.Home {
    @import "../../assets/styles/core.styles.scss";

    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        width: 100%;
        max-height: 100%;
        padding-top: $gap;
        padding-right: calc(50vw - #{(500px / 2)});
        padding-bottom: $gap;
        padding-left: calc(50vw - #{(500px / 2)});
        overflow: auto;

        @include mq("xs") {
            padding-right: $gap;
            padding-left: $gap;
        }
    }

    &__users {
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 500px;
        padding: $gap;
    }
}

.display-enter,
.display-appear {
    opacity: 0;
}

.display-enter-active,
.display-appear-active {
    opacity: 1;
    transition: opacity 500ms ease;
}

.display-exit {
    opacity: 1;
    transition: opacity 500ms ease;
}

.display-exit-active {
    opacity: 0;
}
